/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */


/* --------------------------------------
   Typography
   -------------------------------------- */



/* --------------------------------------
   Navbar
   -------------------------------------- */
#image{
   height:50px;
   width:50px;
   margin-top:-15px;
}

.navbar
{
   background-color: black;
}

   
   
/* --------------------------------------
   Carousel

 /*    -------------------------------------- */
 /*#myCarousel .captions
 {
    color:black;
 }*/

 
#myCarousel
{
   background-color:azure;
   margin-top:65px;
}
body{
   background-color: ghostwhite;
}


 #i1,#i2,#i3
 {
    width:100%;
    height:360px;
    color:black;
 }
 .head
 {
    color:purple;
 }
 #p1
 {  
    width:100%;
    margin-left: 0px;
    
 }
 
 

 /*
#slide1
{
   background:url('../../images/gate.jpg') top center no-repeat;
}
#slide2
{
   background:url('../../images/building.jpg') top center no-repeat;
}
#slide3
{
   background:url('../../images/images.jpeg') top center no-repeat;
   
}
*/
#ky
{
   height:250px;
   width:100%;
}
#spa
{  height:250px;
   width:100%;
}
#techie
{  height:250px;
   width:100%;
}
footer
{ 
   background-color: lavender;
}
#placement
   {
      margin-top:100px;
      width:100%;
   }
#pla
{
   text-align:center;
   font-style: italic;
   
}
#play
{
   text-align:center;
   font-style: italic;
   
}
.lead
{
   font-family: sans-serif;
}
#meta
{
   font-weight:bold;
}
	


/* --------------------------------------
   Global Styles
   -------------------------------------- */



/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media only screen and (max-width: 600px) {
   #myCarousel
   {

      width:100%;
   }
   #i1,#i2,#i3{
      width:100%;
      height:180px;
   } 
   
    
}

/* Landscape phone to portrait tablet */
@media only screen and (min-width: 600px) {
   
   #myCarousel
   {

      width:100%;
   }
   #i1,#i2,#i3{
      width:100%;
      height:320px;
   } 
   
	
}

/* Large desktop */
@media only screen and (min-width: 768px) {
   #myCarousel
   {

      width:100%;
   }
   #i1,#i2,#i3{
      width:100%;
      height:360px;
   } 
   
	
}